#-------------------------------------------------------------------------
# User settings config file for Plex_Server_Sync.sh
#
# https://github.com/007revad/Plex_Server_Sync
#-------------------------------------------------------------------------

# Local machine's IP or hostname and OS
# OS can be ADM, DSM6, DSM7 or Linux (required to stop/start local Plex)
src_IP=192.168.0.70
src_OS=DSM7

# Location of local Plex data folder
src_Directory="/volume1/PlexMediaServer/AppData/Plex Media Server"

# Local user with SSH keys and sudoers setup
src_User=Bob


# Destination machine's IP or hostname and OS
# OS can be ADM, DSM6, DSM7 or Linux (required to stop/start remote Plex)
dst_IP=192.168.0.60
dst_OS=DSM6

# Location of destination Plex data folder
dst_Directory="/volume1/Plex/Library/Application Support/Plex Media Server"

# Remote user with SSH keys and sudoers setup
dst_User=Bob

# Remote SSH port, if blank the default port 22 is used
dst_SshPort=22


# rsync delete extra files from destination [yes/no]
# If left blank you'll be asked "Delete yes/no?"
# If you don't answer within 10 seconds it defaults to no
Delete=yes

# Do an rsync dry run to check results are as expected [yes/no]
# If left blank you'll be asked "Dry Run yes/no?"
# If you don't answer within 10 seconds it defaults to no
DryRun=no


# Set path to save log file. Directory must exist already
# If blank the logs are saved in script location
LogPath=~/plex_server_sync_logs
